.main {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: left;
    align-self: left;
    max-width: 200px;
}

.info-equations {
    max-width: 110%;
    max-height: 100%;
    width: max-content;
    height: max-content;
    overflow:hidden;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    align-self: flex-start;
}

.info-equations:hover {
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    transition: box-shadow 0.3s ease;
    max-width: max-content;
    animation: pulse 2s infinite alternate;
    margin-right: 500px;
}

@keyframes pulse {
    from {
        box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    }
    to {
        box-shadow: 0 6px 32px 0 rgba(63, 133, 204, 0.8);
    }
}

.info-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.5em;
    width: max-content;
    max-width: 110%;
    border-radius: 20px;
}

.info-text:hover {
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    transition: box-shadow 0.3s ease;
    animation: pulse 2s infinite alternate;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    width: 40%;
    overflow: auto;
}

.calc-input {
    display: flex;
}

.input {
    font-size: 20px;
    margin: none;
    border: none;
    max-width: fit-content;
    width: 55px;
    height: 2rem;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.input:hover {
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.3);
}

.input:focus {
    outline: none;
    background: rgba(20, 20, 20, 0.1);
}

.input:active {
    outline: none;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input.p-equation {
    font-size: 18px;
}

.input-element {
    max-height: 4em;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.input-element.active {
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    transition: box-shadow 0.3s ease;
    animation: pulse 2s infinite alternate;
}

.solve {
    display: none;
    align-self: right;
    margin: 20px 10px 10px 20px;
    padding: 5px;
    max-height: 3em;
    transition: opacity 0.5 ease;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    background: white;
}

button:hover {
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    transition: box-shadow 0.3s ease;
    animation: pulse 2s infinite alternate;
}

button:active {
    background: rgba(20, 20, 20, 0.1);
}

.answer {
    display: none;
    margin: 20px 5px;
    padding: 5px;
}

.examples {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 25%;
    overflow: hidden;
    margin-left: 20px;
}

@keyframes slide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.examples:hover .example-slide {
    animation-play-state: paused;
}

.example-slide {
    display: column;
    animation: 45s slide infinite linear;
}

.example {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 40px 0px 40px;
    padding: 20px;
    line-height: 1.5em;
    width: max-content;
    max-width: 75%;
    border-radius: 20px;
    overflow: hidden;
}

.example:hover {
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 6px 15px 0 rgba(63, 133, 204, 0.2);
    transition: box-shadow 0.3s ease;
    animation: pulse 2s infinite alternate;
}

::-webkit-scrollbar {
    width: 1%;
    height: 10px;
    max-width: 20px;
    max-height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    display: none;
}